<div id="<%= dom_id kegiatan %>">
  <p>
    <strong>Judul</strong>
    <%= kegiatan.judul %>
  </p>

  <p>
    <strong>Namalenkap:</strong>
    <%= kegiatan.banner %>
  </p>

  <p>
    <strong>konten:</strong>
    <%= kegiatan.konten %>
  </p>

</div>
