<h1>Editing pengajuaninformasi</h1>

<%= render "form", pengajuaninformasi: @pengajuaninformasi %>

<br>

<div>
  <%= link_to "Show this pengajuaninformasi", @pengajuaninformasi %> |
  <%= link_to "Back to pengajuaninformasis", pengajuaninformasis_path %>
</div>
